<mat-toolbar  color="primary"  class="fixed-header mat-elevation-z6">
    <mat-toolbar-row>
      <span><img  src="./assets/angular.png"  style="width:50px;"></span>
      <button  mat-button  routerLink="/excel-generation" routerLinkActive="active">Excel Generation</button>
      <button  mat-button  routerLink="/validation" >Validation</button>
      <button  mat-button  routerLink="/report">Report</button>
  </mat-toolbar-row>
</mat-toolbar>
<main>
  <router-outlet  style="margin-top: 80px;"></router-outlet>
</main>