<mat-accordion>
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
        <mat-expansion-panel-header>
        <mat-panel-title>
            Excel generation
        </mat-panel-title>
        <mat-panel-description>
            Provide input details for excel generation
        </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="container">
                <form [formGroup] = "AutomationForm" class="example-form" novalidate autocomplete="off">    
            <div class="row">
                <div class="col-md-6">
                    
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="API Endpoint URL" formControlName = "endPointURL" value="">
                            <mat-error *ngIf="!AutomationForm.controls['endPointURL'].valid && !AutomationForm.controls['endPointURL'].touched"></mat-error>
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <!-- <input matInput placeholder="Test Description" value=""> -->
                            <textarea matInput rows="3" formControlName = "testDescription" placeholder="Test Description"></textarea>
                            <mat-error *ngIf="!AutomationForm.controls['testDescription'].valid && !AutomationForm.controls['testDescription'].touched"></mat-error>
                        </mat-form-field>
                        
                        <mat-form-field class="example-full-width">
                            <input type="text" placeholder="Request Type" aria-label="Number" matInput formControlName="requestTypeControl" [matAutocomplete]="auto">
                                <mat-autocomplete #auto="matAutocomplete">
                                    <mat-option *ngFor="let req of requestTypeFilteredOptions | async" [value]="req">
                                    {{req}}
                                    </mat-option>
                                </mat-autocomplete>
                                <mat-error *ngIf="!AutomationForm.controls['requestTypeControl'].touched"></mat-error>
                        </mat-form-field>

                        <mat-form-field class="example-full-width">
                            <input type="text" placeholder="Expected Response Code" aria-label="Number" matInput formControlName="responseCodeControl" [matAutocomplete]="autofill">
                                <mat-autocomplete #autofill="matAutocomplete">
                                    <mat-option *ngFor="let res of responseTypeFilterOptions | async" [value]="res">
                                    {{res}}
                                    </mat-option>
                                </mat-autocomplete>
                                <mat-error *ngIf="!AutomationForm.controls['responseCodeControl'].touched"></mat-error>
                        </mat-form-field>
                        
                    
                </div>
                <div class="col-md-6">
                    <div class="uploadfile">
                        <p class="formlabel">Upload Input JSON File</p>
                            <input type="file" #fileUploader name="files" accept=".json" (change)="uploadFile($event)" />
                            <div id="drop_zone" (drop)="dropHandler($event);" (dragover)="dragOverHandler($event)">
                                <div *ngIf="!fileName">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M9 16h6v-6h4l-7-7-7 7h4zm-4 2h14v2H5z"/></svg>
                                    <p class="formlabel">Drop file here</p>
                                </div>
                                <div class="gallery" *ngIf="fileName != null">
                                    <img class="thumb" src="https://img.icons8.com/dotty/80/000000/json.png" alt="{{fileName}}" title="{{fileName}}" />
                                    <p class="formlabel">{{fileName}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
            </div> 
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12" class="btnwrapper">
                    <button mat-raised-button color="primary" [disabled]="!(AutomationForm.valid && (fileName != null || uploadFileCheck))" class="generatebtn" (click)="renderjson()">Render Input JSON</button>
                    <!-- <button mat-raised-button color="primary" class="generatebtn" (click)="renderjson()">Render Input JSON</button> -->
                </div>
            </div>
        </form>
        </div>
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="step === 1" *ngIf="!showContainer">
        <mat-expansion-panel-header>
        <mat-panel-title>
            JSON Panel
        </mat-panel-title>
        <mat-panel-description>
            Rendered Input JSON
        </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="row">
            <div class="col-md-7">
                    <section class="toggle-section">
                            <mat-slide-toggle
                                class="toggle-margin"
                                [color]="color"
                                [(ngModel)]="checked"
                                (change)="changed()">

                              <span *ngIf="!checked">Tree View</span>
                              <span *ngIf="checked">Editor View</span>
                            </mat-slide-toggle>
                          </section>
                <div class="treecontainer">
                        <ng-container *ngIf="!checked">
                    <button mat-icon-button aria-label="add icon-button" (click)="addNode('parentnode', nestedDataSource.data)">
                        <mat-icon>add</mat-icon>
                    </button>
                    <mat-tree [dataSource]="nestedDataSource" [treeControl]="nestedTreeControl" class="example-tree">
                        <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
                            <li class="mat-tree-node">
                            <button mat-icon-button disabled></button>
                            <mat-form-field appearance="outline" class="textTree">
                                <input matInput placeholder="Placeholder" value="{{node.filename}}" [(ngModel)]="node.filename">
                            </mat-form-field> <span style="left:-12px;">:</span>
                            <mat-form-field appearance="outline" class="textTree">
                                <input matInput placeholder="Placeholder" value="{{node.type}}" [(ngModel)]="node.type">
                            </mat-form-field>
                            <mat-form-field appearance="outline" class="textTree">
                                <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
                                <mat-autocomplete #auto="matAutocomplete">
                                    <mat-option *ngFor="let option of dataTypeFilterOptions | async" [value]="option">
                                    {{option}}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                            <mat-form-field appearance="outline" class="textTree">
                                <input matInput placeholder="{{optionType=='string'? 'String Length' : 'Max Value'}}">
                            </mat-form-field>
                            <button mat-stroked-button color="primary">Primary</button>
                            <button mat-icon-button aria-label="clear icon-button" (click)="deleteNode(node, nestedDataSource.data)">
                                    <mat-icon>clear</mat-icon>
                            </button>
                            <button mat-icon-button aria-label="add icon-button" (click)="addNode(node, nestedDataSource.data)">
                                <mat-icon>add</mat-icon>
                            </button>
                            </li>
                        </mat-tree-node>
                        
                        <mat-nested-tree-node *matTreeNodeDef="let node; when: hasNestedChild">
                            <li>
                            <div class="mat-tree-node">
                                <button mat-icon-button matTreeNodeToggle
                                        [attr.aria-label]="'toggle ' + node.filename">
                                <mat-icon class="mat-icon-rtl-mirror">
                                    {{nestedTreeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                                </mat-icon>
                                </button>
                                <mat-form-field appearance="outline" class="textTree">
                                    <input  matInput type="text" name="file" value="{{node.filename}}" [(ngModel)]="node.filename"/>
                                </mat-form-field>
                                <ng-container *ngIf="node.type">
                                    <mat-form-field appearance="outline" class="textTree">
                                        <input matInput placeholder="Placeholder" value="{{node.type}}" [(ngModel)]="node.type">
                                    </mat-form-field>
                                    <mat-form-field appearance="outline" class="textTree">
                                        <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
                                        <mat-autocomplete #auto="matAutocomplete">
                                            <mat-option *ngFor="let option of dataTypeFilterOptions | async" [value]="option">
                                            {{option}}
                                            </mat-option>
                                        </mat-autocomplete>
                                    </mat-form-field>
                                    <mat-form-field appearance="outline" class="textTree">
                                        <input matInput placeholder="{{optionType=='string'? 'String Length' : 'Max Value'}}">
                                    </mat-form-field>
                                    <button mat-stroked-button color="primary">Primary</button>
                                </ng-container>
                                <button mat-icon-button aria-label="clear icon-button" (click)="deleteNode(node, nestedDataSource.data)">
                                    <mat-icon>clear</mat-icon>
                                </button>  
                                <button mat-icon-button aria-label="add icon-button" (click)="addNode(node, nestedDataSource.data)">
                                    <mat-icon>add</mat-icon>
                                </button>                                                                           
                            </div>
                            <ul [class.example-tree-invisible]="!nestedTreeControl.isExpanded(node)">
                                <ng-container matTreeNodeOutlet></ng-container>
                            </ul>
                            </li>
                        </mat-nested-tree-node>
                    </mat-tree>   
                    </ng-container>
                    <ng-container *ngIf = "checked">
                            <json-editor [options]="options" [data]="data" (paste)="onPaste($event)"></json-editor>
                    </ng-container>
                </div>
            </div>
            <div class="col-md-1">
                <div class="row placebtn"> 
                    <button mat-raised-button color="primary" (click)="generateJson(nestedDataSource.data);openDialog()">Save</button>
                </div>
                <div class="row placebtn">
                    <button mat-raised-button color="primary">Test</button>                    
                </div>
            </div>
            <div class="col-md-4">
                <div class="row filecontainer">
                    <p>Test.json</p>
                    <p>Sample.json</p>
                    <p>Duplicate.json</p>
                </div>
            </div>
        </div>
    </mat-expansion-panel>
</mat-accordion>


    
