/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-tab-label-container{
  background-color: #4735b9;
}
.mat-tab-label-content{
  color: #ffffff;
}
.mat-tab-label{
  opacity: 1.6 !important;
}
.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
  background-color: #e01e19;
  padding: 1px;
}
.example-tree-invisible {
  display: none;
}  
.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}
#drop_zone {
    font-weight: bold;
    text-align: center;
    padding: 3em 0;
    margin: 1em 0;
    color: #555;
    border: 2px dashed #555;
    border-radius: 7px;
    cursor: default;
}
.openfolder{
    margin-left: 83%;
}
.treecontainer{
    border-style:solid;
    border-color: #9c9c9c;
    border-width: 2px;
    width: 100%;
    overflow: auto !important;
    max-height: 500px;
}
.mat-tree-node{
    min-height: 40px !important;  
    overflow: inherit !important; 
}
.mat-form-field-label-wrapper{
    font-size: 16px;
}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin-top: 5%;
}
  
.example-full-width {
    width: 100%;
}
.uploadfile{
    margin-top: 5%;
}
.formlabel{
    left: 0;
    font: inherit;
    pointer-events: none;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    transform-origin: 0 0;
    transition: transform .4s cubic-bezier(.25,.8,.25,1),color .4s cubic-bezier(.25,.8,.25,1),width .4s cubic-bezier(.25,.8,.25,1);
}
.generatebtn{
    position: absolute;
    /* top: 50%; */
}
.btnwrapper{
    text-align: center;
}
.mat-expansion-panel-header{
    background-color: whitesmoke;
}
.mat-expansion-panel-header:hover{
    background-color: lightblue !important;
}
.textTree {
    width: 88px !important;
    padding: 0 4px 0 4px;
    top: -2px;
    left: -12px;
}

.textTree .mat-form-field-infix {
    
    padding: inherit !important;
}

.textTree .mat-form-field-flex {
    padding: 0 !important; 
    margin-top: 0 !important; 
    position: relative;
}
.textTree .mat-input-element{
    padding: 0px 5px 7px 5px !important;
}
.textTree .mat-select {
    padding: 0px 5px 7px 5px !important;
}

.textTree .mat-form-field-wrapper {
    padding-bottom : 0 !important;
}

.textTree .mat-select-arrow-wrapper {
    vertical-align: baseline;
}

.mat-icon-button .mat-button-base {
    width:  20px !important;
    height: 28px !important;
    line-height: 0 !important; 

}

.textTree .mat-form-field-outline {
    top: 1em;
}
.placebtn{
    text-align: center;
    padding: 3px;
}
.filecontainer{
    border: #9c9c9c;
    border-style: solid;
    border-width: 2px;
    width: 100%;
    padding: 4px;
}
.cdk-overlay-pane{
    width: 400px !important;
    height: 310px;
}