/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-tab-label-container{
  background-color: #4735b9;
}
.mat-tab-label-content{
  color: #ffffff;
}
.mat-tab-label{
  opacity: 1.6 !important;
}
.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
  background-color: #e01e19;
  padding: 1px;
}
.example-tree-invisible {
  display: none;
}  
.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}
#filedrag {
    font-weight: bold;
    text-align: center;
    padding: 3em 0;
    margin: 1em 0;
    color: #555;
    border: 2px dashed #555;
    border-radius: 7px;
    cursor: default;
}
.container{

}
.treecontainer{
    margin-top: 2%;
    margin-left: 2%;
    border-style:dotted;
    border-color: lightcoral;
    width: 45%;
}
.mat-tree-node{
    min-height: 40px !important;
}
.mat-form-field-label-wrapper{
    font-size: 16px;
}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin-top: 5%;
}
  
.example-full-width {
    width: 100%;
}
.uploadfile{
    margin-top: 5%;
}
.formlabel{
    left: 0;
    font: inherit;
    pointer-events: none;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    transform-origin: 0 0;
    transition: transform .4s cubic-bezier(.25,.8,.25,1),color .4s cubic-bezier(.25,.8,.25,1),width .4s cubic-bezier(.25,.8,.25,1);
}
.generatebtn{
    position: absolute;
    /* top: 50%; */
}
.btnwrapper{
    text-align: center;
}