<div class="container" *ngIf="showContainer">
    <div class="row">
        <div class="col-md-6">
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="API Endpoint URL" value="">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Test Description" value="">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Output JSON File Path" value="">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                        {{option}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                        {{option}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </form>
        </div>
        <div class="col-md-6">
                <div class="uploadfile">
                    <p class="formlabel">Upload Input JSON File</p>
                    <input type="file" name="files" (change)="uploadFile($event)" />
                    <div id="filedrag">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M9 16h6v-6h4l-7-7-7 7h4zm-4 2h14v2H5z"/></svg>
                        <p class="formlabel">Drop file here</p>
                    </div>
                </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12" class="btnwrapper">
            <button mat-raised-button color="primary" class="generatebtn" (click)="renderjson()">Render Input JSON</button>
        </div>
    </div>
</div>
<div class="treecontainer" *ngIf="!showContainer">
    <mat-tree [dataSource]="nestedDataSource" [treeControl]="nestedTreeControl" class="example-tree">
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
            <li class="mat-tree-node">
            <button mat-icon-button disabled></button>
            <input type="text" name="file" value="{{node.filename}}" /> :
            <input type="text" name="file" value="{{node.type}}" />
                        <!-- {{node.filename}}:  {{node.type}} -->
            </li>
        </mat-tree-node>
        
        <mat-nested-tree-node *matTreeNodeDef="let node; when: hasNestedChild">
            <li>
            <div class="mat-tree-node">
                <button mat-icon-button matTreeNodeToggle
                        [attr.aria-label]="'toggle ' + node.filename">
                <mat-icon class="mat-icon-rtl-mirror">
                    {{nestedTreeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                </mat-icon>
                </button>
                <input type="text" name="file" value="{{node.filename}}"/>
                <!-- {{node.filename}} -->
            </div>
            <ul [class.example-tree-invisible]="!nestedTreeControl.isExpanded(node)">
                <ng-container matTreeNodeOutlet></ng-container>
            </ul>
            </li>
        </mat-nested-tree-node>
    </mat-tree>   
</div>
    
